/*Style for about*/
.about-page {
  background: #fff;
  font-family: 'Roboto-Regular';
  color: #000; }

.about-page .scroll-menu {
  display: block;
  margin-bottom: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #eeeeee;
  background-color: #fff;
  border-radius: 0; }

.about-page .container {
  max-width: 1300px;
  margin: auto; }

.about-title {
  font-family: 'Roboto-Medium'; }

.about-hr {
  width: 87px;
  height: 4px;
  background-color: #f4bc16; }

/*Banner*/
.page-banner {
  background-color: #f5f5f5;
  font-family: 'Roboto-Medium';
  color: #000;
  padding: 40px 0; }

.page-title {
  margin: 0;
  padding: 0; }

.page-banner .breadcumb-menu {
  float: right; }

.breadcumb-menu {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  float: left; }

.breadcumb-menu li {
  display: block;
  float: left;
  font-size: 14px; }

.breadcumb-menu li:last-child {
  opacity: 0.6; }

.page-banner .breadcumb-menu li a {
  color: #000; }

.separator {
  padding: 0 5px; }

/*Introduction*/
.introduction {
  padding-top: 50px; }

.author-wrap {
  position: relative;
  background-color: #fff;
  min-height: 376px;
  margin-right: 50px; }

.author-wrap .author-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 33px 0;
  background-color: #f5f5f5;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto-Medium'; }

.author-wrap img {
  margin: auto;
  width: 100%;
  height: 100%; }

.author-info .author-name {
  font-size: 20px;
  margin: 0; }

.author-info .author-pos {
  font-size: 13px;
  color: #949494;
  display: block;
  margin-top: 17px; }

.introduction .about-title {
  text-transform: none; }

.intro-txt {
  margin-top: 30px;
  font-size: 16px; }

.intro-txt p {
  margin-bottom: 30px;
  line-height: 24px; }

.intro-txt.intro-final {
  margin-top: 115px; }

.intro-hr {
  height: 2px;
  width: 100%;
  background-color: #ebeeef;
  margin-top: 30px; }

/*Story*/
.our-story.our-product {
  padding-top: 35px; }

/*Features*/
.features {
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 170px; }

.features .home-title {
  text-align: center; }

.feature-list {
  margin-top: 0; }
  .feature-list ul {
	margin: 0px;
	padding: 0; }
  .feature-list li {
	padding: 10px 0px; }
  .feature-list .icon-feature-list {
	margin-bottom: 10px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 1px solid #e3e7e9;
	display: inline-table;
	margin-right: 20px; }
  .feature-list img {
	padding: 15px;
	display: inline-block; }
  .feature-list .feature-list-title {
	font-family: 'Roboto-Regular';
	font-size: 20px;
	color: #000000;
	text-transform: uppercase;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	word-wrap: break-word;
	max-width: 242px; }

/* History And FAQs*/
.history-faqs {
  margin-top: 95px;
  margin-bottom: 100px;
  /*time line */
  /*end time line */
  /*Manufactoring*/
  /*FAQs*/ }
  .history-faqs .history-title {
	font-size: 30px;
	color: #343434;
	text-transform: uppercase; }
  .history-faqs .home-title-border {
	width: 55px;
	border: 2px solid #f4b400;
	margin: 0; }
  .history-faqs .timeline {
	background: #fff;
	position: relative;
	margin-top: 20px; }
	.history-faqs .timeline:before {
	  content: '';
	  position: absolute;
	  top: 0px;
	  left: calc(26% + 17px);
	  bottom: 0px;
	  width: 2px;
	  background: #e1e1e1; }
	.history-faqs .timeline:after {
	  content: "";
	  display: table;
	  clear: both; }
	.history-faqs .timeline .entry {
	  padding: 50px 0; }
	  .history-faqs .timeline .entry .body-entry {
		margin: 4px auto;
		float: right;
		width: 70%;
		padding-left: 30px; }
		.history-faqs .timeline .entry .body-entry .history-title {
		  font-family: 'Roboto-Bold';
		  font-size: 18px;
		  color: #000;
		  word-spacing: 5px;
		  text-transform: uppercase; }
		.history-faqs .timeline .entry .body-entry span {
		  color: #666666;
		  font-size: 14px;
		  text-transform: uppercase; }
		.history-faqs .timeline .entry .body-entry p {
		  color: #000;
		  font-size: 16px; }
  .history-faqs .arrow_box {
	position: relative;
	background: #f5bd00;
	padding: 16px;
	width: 120px;
	height: 30px;
	border-radius: 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	/* -webkit-box-align: center; */
	-ms-flex-align: center;
	-webkit-box-align: center;
			align-items: center;
	text-align: center;
	color: #fff; }
	.history-faqs .arrow_box:before {
	  content: '';
	  position: absolute;
	  width: 20px;
	  height: 20px;
	  padding: 4px;
	  background-color: #fff;
	  top: 20%;
	  right: -50px;
	  z-index: 44;
	  border-radius: 50%;
	  border: 1px solid #e7e7e7; }
	.history-faqs .arrow_box:after {
	  left: 96%;
	  top: 50%;
	  border: solid transparent;
	  content: " ";
	  height: 0;
	  width: 0;
	  position: absolute;
	  pointer-events: none;
	  border-color: rgba(245, 189, 0, 0);
	  border-left-color: #f5bd00;
	  border-width: 16px;
	  margin-top: -16px; }
	.history-faqs .arrow_box .circle {
	  position: absolute;
	  z-index: 45;
	  right: -45px;
	  background: #f5bd00;
	  width: 10px;
	  height: 10px;
	  border-radius: 50%;
	  top: 11px; }
  .history-faqs .manufactoring {
	margin-top: 70px; }
	.history-faqs .manufactoring p {
	  font-size: 16px;
	  color: #000;
	  line-height: 22px;
	  padding: 15px 0; }
  .history-faqs .faqs {
	font-family: 'Roboto-Regular'; }
	.history-faqs .faqs .faqs-title {
	  font-family: 'Roboto-Thin';
	  font-size: 36px;
	  color: #a6a3a3;
	  text-transform: uppercase; }
	.history-faqs .faqs .faq-s {
	  width: 100%;
	  min-height: 60px;
	  text-align: left;
	  background: #f6be00;
	  color: #fff;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-align: center;
		  -ms-flex-align: center;
			  align-items: center;
	  padding-left: 15px;
	  margin-bottom: 40px; }
	.history-faqs .faqs .icon-faq {
	  width: 25px;
	  height: 25px;
	  border-radius: 50%;
	  border: 1px solid white;
	  text-align: center;
	  font-size: 25px;
	  color: #f6be00;
	  background: #fff; }
	.history-faqs .faqs p {
	  font-size: 16px;
	  color: #000;
	  line-height: 22px; }
	.history-faqs .faqs .faqs-list li {
	  padding: 15px 0;
	  border-bottom: 1px solid #ebeef0; }
	.history-faqs .faqs .faqs-list a {
	  font-size: 18px;
	  color: #000; }
	.history-faqs .faqs .faqs-list .icon-faq {
	  background: #f6be00;
	  color: #fff; }
	  .history-faqs .faqs .faqs-list .icon-faq:hover {
		cursor: pointer; }
	.history-faqs .faqs .space {
	  margin-top: 100px; }

/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  .features .feature-list .feature-list-title {
	width: 60%; }

  .history-faqs .arrow_box .circle {
	right: -18%; }
  .history-faqs .arrow_box:before {
	right: -22%; } }
/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .history-faqs .timeline:before {
	left: 29%; }
  .history-faqs .timeline .arrow_box {
	width: 60px; } }
/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container,
  #container {
	width: auto; }

  .features .feature-list .feature-list-title {
	width: 100%; }

  .history-faqs .timeline:before {
	display: none; }
  .history-faqs .timeline .entry {
	text-align: center; }
	.history-faqs .timeline .entry .body-entry {
	  width: 100%; } }
/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
  .container,
  #container {
	width: auto; }

  .features .feature-list .feature-list-title {
	width: 60%; }

  .history-faqs .timeline:before {
	display: none; }
  .history-faqs .timeline .entry {
	text-align: center; }
	.history-faqs .timeline .entry .body-entry {
	  width: 100%; } }

/*# sourceMappingURL=about.css.map */