body {
    background-color: #f5f5f5;
}


/*Style for header*/

.wrap-navbar {
    width: 100%;
    height: 100px;
}
.nav>li>a:hover {
    background: none !important;
    
}
.nav-menu {
  background-color: #f8f8f8;
}

 .nav>li>a:focus {
    background: none;
}
.fixed {
    position: fixed !important;
    top: 0 !important;
    z-index: 999 !important;
    width: 100% !important;
    animation:slide-down 0.7s;
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}

.submenu li a {
    color:#d2d2d2;
    font-size:16px;
}
.submenu li {
    padding:4px 4px;
    
}
.submenu li:hover a{
    color:red !important;
    padding-bottom: 5px;
    transition:all .2s;   
}

.navbar-offcanvas.in {
    background-color: #f8f8f8
}
.navbar-offcanvas.in ul li a {
    color:#777;
}
.navbar-offcanvas.in ul li a:hover {
    color:#777;
}
.navbar-offcanvas.in ul li.active a {
    color:red;
}
.stonetile-banner {
    position: relative;
}

.stonetile-banner .skitter {
    max-width: 100%;
    width: 100%;
    color: #fff;
}

.stonetile-banner .skitter .info_slide_dots {
    position: absolute;
    bottom: 0;
    right: 0 !important;
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    padding: 5px 0 40px 0;
    border-radius: 50px;
    z-index: 600;
    width: 25%;
    display: flex !important;
    display: -webkit-flex !important;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.stonetile-banner .skitter .info_slide_dots .image_number {
    background-color: #80848f;
    border: 2px solid #80848f;
    float: left;
    margin: 0 12px 0 0;
    cursor: pointer;
    border-radius: 50px;
    width: 16px;
    height: 16px;
    text-indent: -9999em;
    overflow: hidden;
    transition: all 0.2s;
}

.stonetile-banner .skitter .info_slide_dots .image_number.image_number_select {
    background-color: #fff;
}

.stonetile-banner .skitter .next_button,
.stonetile-banner .skitter .prev_button {
    background: transparent;
    overflow: show;
    text-indent: 0;
    height: auto;
    width: auto;
}

.stonetile-banner .skitter .next_button i,
.stonetile-banner .skitter .prev_button i {
    font-size: 40px;
    color:  rgb(30,118,55);
}

.frame {
    background: url('../img/home/frame.png') center center no-repeat;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 50;
    opacity: 0.4;
}

.htitle {
    font-size: 35px;
    font-family: 'Roboto-Bold';
    text-align: center;
    text-shadow: 2px 2px 2px #222;
}

.hsubtitle {
    font-size: 30px;
    font-family: 'Roboto-Regular';
    display: block;
    text-shadow: 2px 2px 2px #222;
}

.hborder {
    width: 40%;
    height: 3px;
    background-color:  rgb(30,118,55);
    margin: 25px auto 30px;
}

.stonetile-banner .label_skitter {
    bottom: auto;
    top: 53%;
    left: 0;
    text-align: center;
    background: transparent;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.stonetile-nav {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
    z-index: 999;
}

.stonetile-nav .navbar-nav>li {
    border: 2px solid transparent;
}

.stonetile-nav .navbar-nav>li>a {
    color: #d2d2d2;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 23px;
    font-family: 'Roboto-Bold';
}

.stonetile-nav .nav>li>a {
    padding: 12px 24px;
    text-shadow: none;
}

.stonetile-nav .navbar-nav>.active>a {
    color: #fff;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}

.stonetile-nav .navbar-nav>.active,
.stonetile-nav .navbar-nav>li:hover {
    border: 2px solid  rgb(30,118,55);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.stonetile-nav .navbar-nav>li:hover a {
    color: #fff;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}

.stonetile-nav .navbar-nav>.active>a,
.stonetile-nav .navbar-nav>.active>a:hover,
.stonetile-nav .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}


/* .stonetile-nav .navbar-collapse {
	border-bottom: 1px solid #bdc7ce;
} */

.stonetile-nav .navbar-nav {
    margin-top: 30px;
    margin-bottom: 12px;
}

.stonetile-nav .stonetile-logo canvas {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.stonetile-logo {
    float:left;
    height:auto;
    margin:20px 0px 0px 35px;

}
.stonetile-nav .stonetile-logo a {
    padding-top: 0;
    padding-bottom: 0;
}

#logo1 {
    display: none;
}

.bfooter-group {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    z-index: 500;
    padding-left: 85px;
    padding-right: 85px;
}

.banner-footer {
    background: #fff;
    width: 100%;
    position: relative;
    height: 98px;
}

.social-share {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 50px;
    left: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 999;
}

.social-share li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.social-share li a {
    font-size: 20px;
    color: #777;
}

.social-share li:nth-child(1):hover a {
    color: #3b5998;
}

.social-share li:nth-child(2):hover a {
    color: #4099ff;
}

.social-share li:nth-child(3):hover a {
    color: #d34836;
}

.scroll-btn {
    margin: auto;
    position: relative;
    cursor: pointer;
}

.page-mouse-el {
    background: transparent;
    width: 30px;
    height: 44px;
    border: 2px solid #c6c6c5;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    display: inline-block;
    border-radius: 25px;
    position: relative;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: nudgeMouse;
    animation-name: nudgeMouse;
    cursor: pointer;
}

.page-mouse-el:before {
    content: '\f107';
    font-size: 24px;
    color: #000;
    font-family: FontAwesome;
    font-weight: 700px;
    position: absolute;
    top: 6px;
    left: 6px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@keyframes nudgeMouse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(.5rem);
        transform: translateY(.5rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateY(-1rem);
        transform: translateY(-1rem);
        opacity: 1
    }
    50% {
        -webkit-transform: translateY(1rem);
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-1rem);
        transform: translateY(-1rem);
        opacity: 1;
    }
}


/*Footer*/


/**************/

#container footer .container {
    /* max-width: 1240px;
	width: inherit; */
}

.top-footer {
    background-color:  rgb(30,118,55);
    color: #fff;
}

.top-fitem {
    padding-top: 25px;
    padding-bottom: 30px;
}

.contact-info {
    font-family: 'Roboto-LightItalic';
    margin: 5% auto;
}

.contact-info span {
    font-family: 'Roboto-Medium';
}

footer {
    font-size: 16px;
    font-family: 'Roboto-Light';
    color: #666666;
}

footer ul,
footer ul li {
    padding-left: 0;
    list-style: none;
}

.bottom-footer {
    background-color: #fff;
    color: #2e2e2e;
    font-size: 16px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Roboto-Light';
}

.bottom-footer span {
    color: #969696;
}

.end-footer {
    background:  rgb(30,118,55);
    height: 20px;
}

.main-footer {
    padding-top: 55px;
    padding-bottom: 13px;
}

.widget-title {
    color: #222121;
    font-size: 18px;
    font-family: 'UTM Neo Sans Intel';
    border-bottom: 2px solid #e7eaeb;
    padding-bottom: 18px;
    margin: 0;
}

.title-border {
    width: 43px;
    border-bottom: 2px solid  rgb(30,118,55);
    margin-bottom: 30px;
    margin-top: -2px;
}

.widget-txt {
    line-height: 25px;
}

.footer-social {
    margin-top: 20px;
}

.footer-social li {
    display: inline-block;
    background-color:  rgb(30,118,55);
    border: 1px solid  rgb(30,118,55);
    margin-right: -2px;
    margin-bottom: 2px;
}

.footer-social li:hover {
    background-color: #fff;
}

.footer-social li:hover i {
    color:  rgb(30,118,55);
}

.footer-social li i {
    padding: 17px 20px;
    color: #fff;
}

.widget-menu li a {
    color: #666;
    line-height: 30px;
}

.fproduct-menu {
    text-indent: 2px;
    list-style-position: outside;
}

.fproduct-menu li:before {
    content: '✔';
    font-weight: 700;
    margin-left: 0;
    padding-right: 15px;
    color:  rgb(30,118,55);
    vertical-align: text-top;
}

.fproduct-menu li:hover a {
    color:  rgb(30,118,55);
}

.fcate-menu li {
    display: block;
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
}

.fcate-menu li a {
    border: 1px solid #E2E6E7;
    line-height: 16px;
    font-size: 11px;
    font-weight: 500;
    padding: 10px 12px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
}

.fcate-menu li:hover a {
    background-color:  rgb(30,118,55);
    color: #fff;
    border: 1px solid  rgb(30,118,55);
}

.main-footer .entry-post {
    margin-bottom: 30px;
}

.main-footer .entry-title {
    margin-top: 0;
    font-size: 16px;
    color: #444444;
    line-height: 24px;
}

.entry-title a {
    color: #666;
}

.entry-title:hover a {
    color:  rgb(30,118,55);
}

.meta-date {
    font-weight: 500;
    font-size: 13px;
    color: #999;
    line-height: 20px;
}


/*Responsive*/

@media only screen and (min-width: 960px) and (max-width: 1240px) {
    .stonetile-nav .nav>li>a {
        text-shadow: none;
        padding: 10px 15px;
    }
    .stonetile-nav .navbar-nav {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .stonetile-nav .navbar-collapse .wrap-navbar {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
    }
    .stonetile-nav .stonetile-logo {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        width: 17%;
    }
    .stonetile-nav .stonetile-logo canvas {
        display: block;
        margin: auto;
    }
   
    @media screen and (min-width: 960px) and (max-width: 991px) {
        .stonetile-nav .stonetile-logo {
            width: 25%;
        }
        .stonetile-banner .skitter .next_button {
            display: none;
        }
        .stonetile-banner .skitter .prev_button {
            display: none;
        }
    }
    @media screen and (min-width: 960px) and (max-width: 1197px) {
        .stonetile-banner .skitter .info_slide_dots {
            width: 33%;
        }
    }
}


/* Landscape Tablet*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .stonetile-nav .nav>li>a {
        text-shadow: none;
        padding: 10px 15px;
        font-size: 14px;
    }
    .stonetile-nav .navbar-nav {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .stonetile-nav .navbar-collapse .wrap-navbar {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
    }
    .stonetile-nav .stonetile-logo {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        width: 30%;
    }
    .banner-footer {
        height: 70px;
    }
    .stonetile-banner .skitter .info_slide_dots {
        width: 35%;
        padding-bottom: 25px;
    }
    .page-mouse-el {
        top: 10px;
    }
    .mainf-group {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }
    .mainf-item {
        margin-bottom: 30px;
        clear: both;
    }
    .social-share li {
        margin-left: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .stonetile-banner .skitter .next_button {
        display: none;
    }
    .stonetile-banner .skitter .prev_button {
        display: none;
    }
}


/* Landscape mobile */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .scroll-menu .logo {
        left: 0 !important;
    }
    .stonetile-nav .navbar-nav>li {
        margin-bottom: 5px;
    }
    .stonetile-nav .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .stonetile-nav .navbar-collapse {
        padding-top: 15px;
    }
    .htitle,.hborder,.hsubtitle,.stonetile-banner .skitter .next_button,.stonetile-banner .skitter .prev_button {
       display: none!important;
    }
   
    .hsubtitle {
        font-size: 24px;
    }
    .hotline {
        position: absolute;
        top: -8px;
    }
    .banner-footer {
        height: 60px;
    }
    .bfooter-group {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        bottom: 0;
    }
    .stonetile-banner .skitter .info_slide_dots {
        width: 20%;
        padding-bottom: 20px;
    }
    .page-mouse-el {
        top: 10%;
    }
    #logo1 {
        display: block;
    }
    #logo2,
    .navbar-brand canvas {
        display: none;
    }
    .stonetile-nav .navbar-brand {
        height: auto;
    }
    .stonetile-banner .skitter .next_button {
        display: none;
    }
    .stonetile-banner .skitter .prev_button {   
        display: none;
    }
    .stonetile-nav .navbar-toggle {
        margin: 23px 15px;
    }
    .mainf-item {
        margin-bottom: 30px;
        clear: both;
    }
    .social-share li {
        margin-left: 8px;
    }
    .navbar-offcanvas.in .stonetile-logo {
        float: none;
        height: auto;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1240px) {
    .footer-social li {
		font-size: 12px;
	}
}


/*Portrait Mobile*/

@media only screen and (min-width: 100px) and (max-width: 479px) {
    .scroll-menu .logo {
        left: 0 !important;
    }
    .stonetile-nav .navbar-nav>li {
        margin-bottom: 5px;
    }
    .stonetile-nav .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .skitter-large .label_skitter{
        display:none;
    }
    .htitle {
        font-size: 28px;
    }
    .hsubtitle {
        font-size: 24px;
    }
    .hotline {
        position: absolute;
        top: -8px;
    }
    .banner-footer {
        height: 60px;
    }
    .bfooter-group {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        bottom: 0;
    }
    .stonetile-banner .skitter .info_slide_dots {
        width: 30%;
        padding-bottom: 20px;
    }
    .page-mouse-el {
        top: 10%;
    }
    .social-share {
        right: 15px;
    }
    .social-share li {
        padding-top: 15px;
    }
    #logo1 {
        display: block;
    }
    #logo2,
    .navbar-brand canvas {
        display: none;
    }
    .stonetile-nav .navbar-brand {
        height: auto;
    }
    .stonetile-banner .skitter .next_button {
        display: none;
    }
    .stonetile-banner .skitter .prev_button {
        display: none;
    }
    .stonetile-nav .navbar-toggle {
        margin: 23px 15px;
    }
    .mainf-item {
        margin-bottom: 30px;
        clear: both;
    }
    .social-share li {
        margin-left: 8px;
    }
    .navbar-offcanvas.in .stonetile-logo {
        float: none;
        height: auto;
    }
}