.content-wp .img-news {
    overflow: hidden;
    height: 280px;
}
.content-wp .img-news img {
    border-radius:12px;
    transition: all .2s;
}
.content-wp .img-news img:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.content-wp .des{
    padding-left: 5px;
    padding-right: 5px;
}

.des{
    margin:20px;
}
.des .news-tag {
    text-align:center;
    color:#51cbce;
}
.des .title {
    color:#444444;
    text-align: center;
}
.des .title:hover {
    cursor: pointer;
    color:#fbc658;
    
}
.des p.content {
    color: #9A9A9A;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: justify;
}
.des a {
    background:#fbc658;
    color:#fff;
    border-radius:30px;
}

.pagination-area ul li a {
    background-color: transparent;
    border: 2px solid #f5593d;
    border-radius: 20px;
    color: #f5593d;
    height: 36px;
    margin: 0 2px;
    width: 72px;
    padding: 7px 12px;
}
.pagination-area ul li:first-child a, .pagination-area ul li:last-child a
{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}